.simon{
    background-color: black;
    width: 80%;
    height: 400px;
}
#game
{
   color: yellow; 
   text-align: center;
  
}
.button{
    background-color: aliceblue;
    bottom: 100px;
}